*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    /*grid-template-columns: 1fr;*/
    height: 100vh;
}
main p{
    color: grey;
    text-align: center;
    margin: 20px 60px;
}
a:hover{
    color: red;
}
header{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.104);
    padding: 10px 0;
    font-size: small;
}
header nav {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}
header nav h3{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: grey;
}

header nav div{
    display: flex;
    align-items: center;
    gap: 30px;
}

#logo{
    height: 60px;
}

header nav img{
    height: 40px;
}



footer{
    text-align: center;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.104);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    margin-top: auto;
}
div h3{
    color: white;
    text-align: center;
}
div p{
    color: white;
    text-align: center;
}


.contenedor{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 60px;
}

.tarjeta{
    border-radius: 1px;
    min-height: 300px;
    max-width: 500px;
    font-weight: bold;
    pad: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.104);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;

}
.textos{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
    background-color: dimgray;
    color: white;
    padding:  5px 10px;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
}

#cuenta-carrito{
    position: absolute;
    background-color: black;
    border-radius: 100%;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    aspect-ratio: 1;
    text-align: center;
    /* margin-bottom: 15px; */
  }